---
import type { HTMLAttributes } from "astro/types";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6",
      "border-t border-border",
      "text-center text-sm text-muted",
    ]}
  >
    <span>&copy; {currentYear} ashrithm. All rights reserved.</span>
  </div>
</footer>
